* {
    box-sizing: border-box;
}

:root {
    --blue-primary: #2C3F65;
    --purple-primary: #7c3aed;
    --purple-light: #a78bfa;
    --green-primary: #10b981;
    --orange-primary: #f59e0b;
    --pink-primary: #ec4899;
    --bg-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.text-blue {
    color: var(--blue-primary);
}

.right-frame {
    width: 100%;
    padding: 3rem;
    background: #f8fafc;
    height: 100vh;
    overflow-y: auto;

}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

a {
    text-decoration: none;
}

.error-text {
    color: red;
    font-size: 1rem;
}

.disabled {
    pointer-events: none;
    cursor:default;
}